.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(214, 129, 129, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-container {
  display: flex;
  align-items: center;
}

.upload-button {
  padding: 1rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgb(233, 103, 103, 1);
  color: #fff;
  font-size: 2rem;
}

.upload-button:hover {
  background-color: rgb(233, 103, 103, 0.8);
}

.upload-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: dashed;
  border-radius: 1rem;
  padding: 1rem 6rem;
  font-size: 4rem;
  cursor: pointer;
  color: white;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  margin-right: 1rem;
}

.preview-container {
  margin: 1rem 0 1rem 0;
  color: #fff;
}

.preview {
  background-color: #e96767;
  padding: 1rem 3rem;
  border: dashed;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.preview span {
  margin-right: 0.4rem;
}

.preview-cross-icon {
  background-color: rgb(214, 129, 129, 1);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.preview-name {
  word-wrap: none;
  text-overflow: ellipsis;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 20px;
  margin: 1rem 0;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
  transition : background 0.2ms linear;
}

@media only screen and (max-width: 600px) {
  .upload-area {
    font-size: 1.5rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
